body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1f2e00;
  color: #fff;
  padding: 20px;
  border-bottom: 10px solid rgb(39, 135, 1);
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

nav {
  display: flex;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;

}
.menu li a:hover {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: rgb(39, 135, 1);
  transition: .5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
}

.dropdown-content a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;

}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    position: static;
    background-color: transparent;
  }
}
